<%- include("header") -%>
<h1>About the To-Do List</h1>
<p>Welcome to the To-Do List app! This simple yet powerful task manager helps you stay organized by adding, checking off, and managing your daily tasks efficiently.</p>


<%- include("footer") -%>